
body {
    font-family: 'Arial, sans-serif';
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1; 
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    min-width: 600px;
    width: 55%;
    height: 560px;
    margin: 20px auto;
    background-color: #212121;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1); /* Added box shadow */
    padding: 30px;
}


.container .column1 {
    width: 100%;
    background-color: #f0f0f0;
    overflow: hidden;
    border-radius: 15px;
}
.column1 {
    width: 100%;
    overflow: hidden;
    padding-bottom: 0px;
    
}
/*.column1 {
    width: 150px;
    height: 1000px;
    overflow: hidden;
  }*/
  

.container .column1 img {
    display: flex;
    object-fit: cover;
    max-width: 100%;
    /*max-height: 100%;*/
    height: auto;
    width: 90%;
    height: 87%;
    padding-top: 40px;
    /*border-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;*/
    justify-content: center;
    align-items: center;
}


.container .column2 {
    /*font-family: 'Times New Roman', Times, serif;*/
    font-family: Georgia, serif;
    font-size: 20px;
    padding: 0px;
    text-align: left;
    padding-left: 10px;
}

.container .column2 h2 {
    font-size: 40px;
    margin-bottom: 0px;
    color: #f0f0f0;
}
.container .column2 h4 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #f0f0f0;
    padding-bottom: 20px;
}

.container .column2 p {
    margin-bottom: 8px;
    color: #f0f0f0;
}
/* Additional CSS for badges */
.column2 {
    position: relative;
}

.badges {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.admin-badge,
.verified-badge {
    font-size: 11px;
    /*padding: 8px 5px;*/
    padding-bottom: 5px;
    /*margin-bottom: 0px;*/ 
    border-radius: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: rgb(72, 72, 252);
}

.view-more-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: #f0f0f0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.view-more-button:hover {
    background-color: #45a049;
}

  @media (max-width: 767px) {
    .container {
        margin: 0 auto;
        grid-template-columns: 1fr;
        height: auto;
        text-align: center;
    }

    .container .column1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container .column2 {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }

    .container .column1 img {
        object-fit: contain;
        max-width: 80%;
        padding: 10px;
        aspect-ratio: 4 / 3;
        margin-bottom: 10px; 
    }

    .badges {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        padding-right: 11%;
    }

    .badges span {
        font-size: 0.8rem;
        padding: 5px 10px;
        border-radius: 20px;
        font-weight: bold;
        display: flex;
        align-items: center;
        color: rgb(72, 72, 252);
    }

    .container .column2 .content {
        padding-top: 10px;
        padding-left: 5%;
    }

    .column2 h2,
    .column2 h4,
    .column2 p {
        font-size: 1.2rem; 
        padding-left: 15%;
    }
}


