<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block style %} {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>

    <div>
        <h3>Menu</h3>
        <ul>
            <li><a href="{{ url_for('profile') }}">Profile Section</a></li>
            <li><a href="{{ url_for('view_history') }}">View History</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </div>

    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
